* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
:root {
  --primary-color: #fff;
  /*--primary-color: #fed7aa;*/
  --secondary-color: #000;
  --tertiary-color: #222;
  --fourth-color: #666;
  --fifth-color: #444;
  --sixth-color: #777;
  --background-color: #7dd3fc;
}
#header-holder {
  display: flex;
  justify-content: center;
}
#header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  height: 5rem;
  width: 40%;
}
body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Caveat", cursive, 'Courier New', Courier, monospace;
}
.top-holder {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}
.list-holder {
  display: flex;
  justify-content: center;
}
#list-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 1rem;
  overflow: hidden;
  margin: 5rem 0;
    /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
}
#list-box > div {
  font-size: 2rem;
  display: block;
}
.empty#list-box {
  height: 20rem;
  align-items: center;
  justify-content: center;
}
.todo-list {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
}
.todo-list ~ .todo-list {
  border-top: 0.05rem solid var(--sixth-color);
}

.todo-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: auto;
}
.todo-img {
  width: 1rem;
}
.todo-img:hover {
  opacity: 0.5;
}
.todo-list:hover {
  background-color: var(--fourth-color);
}
.todo-list.selected {
  background-color: var(--fifth-color);
}
.todo-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 1.4rem;
  font-size: 1.4rem;
}
#add-list-img {
  width: 2rem;
  height: 2rem;
  border: none;
  color: white;
  background-color: inherit;
}
#add-list {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  flex: 0 0 auto;
}
p {
  flex: 1 0 auto;
  text-align: center;
}
