* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Caveat", cursive, 'Courier New', Courier, monospace;
}
:root {
  --primary-color: #fff;
  /*--primary-color: #fed7aa;*/
  --secondary-color: #000;
  --tertiary-color: #222;
  --fourth-color: #666;
  --fifth-color: #444;
  --sixth-color: #777;
  --background-color: #7dd3fc;
}
#header-holder {
  display: flex;
  justify-content: center;
}
#header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  height: 5rem;
  width: 40%;
}
#header.in-list {
  justify-content: space-between;
  font-size: 2rem;
}
body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.top-holder {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}
.list-holder {
  display: flex;
  justify-content: center;
}
#list-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 5rem 0;
    /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
}
#list-box > div {
  font-size: 2rem;
  text-align: center;
}
.empty#list-box {
  height: 20rem;
  align-items: center;
  justify-content: center;
}
#list-box.in-list {

}
.list {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
  transition: background-color 1s;
  transition: color 1s;
}
.list ~ .list {
  border-top: 0.05rem solid var(--sixth-color);
}

.todo-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: auto;
}
.todo-img {
  width: 1rem;
}
.todo-img:hover, .header-img:hover {
  opacity: 0.5;
}
.list:hover {
  background-color: var(--fourth-color);
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}
.todo-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 1.4rem;
  font-size: 1.4rem;
}
.header-img {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border: none;
  color: white;
  background-color: inherit;
}
.header-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  flex: 0 0 auto;
}
p {
  flex: 1 0 auto;
  text-align: center;
}
form {
  background-color: var(--tertiary-color);
  /* border: 5px solid var(--secondary-color); */
  border: none;
  border-radius: 0.5rem;
  padding: 3rem;
  font-size: 2rem;
  color: var(--primary-color);
}
form label {
  display: inline-block;
  width: 12rem;
  text-align: center;
  font-weight: 100;
}
form input, form select, form option {
  box-sizing: border-box;
  background-color: var(--secondary-color);
  width: 16rem;
  outline: none;
  height: 2.6rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-color);
  padding-left: 0.4rem;
  font-size: 2rem;
}
form input:focus, form select:focus, form option:focus {
  background-color: var(--sixth-color);
}
.form-pair-holder {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
dialog {
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 8rem auto;
  margin-bottom: 5rem;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
dialog::backdrop {
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
  opacity: 0.5;
}
form button {
  width: 12rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-color);
}
form button:hover {
  cursor: pointer;
  background-color: var(--sixth-color);
}
.form-button-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}